body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'BLAME';
  src: url('../public/fonts/BLAME.ttf') format('truetype');
}

@font-face {
  font-family: 'ninjutsuBB';
  src: url('../public/fonts/ninjutsuBB.ttf') format('truetype');
}

@font-face {
  font-family: 'ninjutsuBB_bold';
  src: url('../public/fonts/ninjutsuBB_bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ninjutsuBB_ital';
  src: url('../public/fonts/ninjutsuBB_ital.ttf') format('truetype');
}